.navbar {
  border-radius: 0;
}
.navbar .active{
  color: #fff !important;
  background-color: #080808 !important;
}

.activated {
  background-color: gray;
}

.multi-line-text-wrapper {
  width: 400px;
}

.examples-header {
  margin-bottom: 10px;
  padding-bottom: 4px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

textarea {
  width: 100%;
}

.address-inputs .ember-view {
  display: inline-block;
}

.address-inputs .ember-view input,
.address-inputs .ember-view input:focus {
  border: none;
  padding: 0;
  outline: none;
}
