<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Ember-inplace-edit Demo</div>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'demo-input'}}Input{{/link-to}}</li>
        <li>{{#link-to 'demo-textarea'}}Textarea{{/link-to}}</li>
      </ul>
      <div class="navbar-right">
        <a href="https://github.com/anilmaurya/ember-inplace-edit" target="_blank" class="btn btn-sm btn-info">GitHub</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
