<h1 id='title'>Demo of ember-inplace-edit</h1>

<h3>1. Simple use case : </h3><p>ember-inplace-edit text="Sample text" type="input"</p>
<h3>Output:</h3>
{{ember-inplace-edit text="Sample text" type="input"}}
{{outlet}}
